.App {
  font-family: sans-serif;
  text-align: center;
}

.input-container {
  width: 400px;
  position: relative;
}
.search-input {
  width: 100%;
  box-sizing: border-box;
  background-color: aliceblue;
  padding-right: 60px;
}
.btn {
  position: absolute;
  top: 50%;
  right: 2px;
  padding: 0 5px;
  transform: translateY(-50%);
  font-size: small;
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.btn:hover {
  border: 1px solid black;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 400px;
  margin: 0 auto;
}

.result-container {
  width: 400px;
  margin: 0px;
  padding: 0px;
  border: 1px solid black;
}

.result {
  list-style-type: none;
  cursor: pointer;
}
.result:hover {
  background-color: grey;
}
