#root {
	max-width: 1280px;
	margin: 0 auto;
	padding: 2rem;
	text-align: center;
}

.tabs-bar {
	display: flex;
	gap: 10px;
}

.tab {
	border: 2px solid grey;
	cursor: pointer;
}

.selected {
	background-color: aqua;
}
