#root {
	max-width: 1280px;
	margin: 0 auto;
	padding: 2rem;
	text-align: center;
}

body {
	background-color: beige;
}
.contianer {
	height: 200px;
	width: 200px;
	align-content: center;
	line-height: 3rem;
}

.dark {
	border: 2px solid #f5f5f5;
	color: #f5f5f5;
	background-color: #242424;
	transition: all 0.3s ease;
}

.light {
	border: 2px solid #242424;
	color: #242424;
	background-color: #f5f5f5;
	transition: all 0.3s ease;
}

.btn {
	cursor: pointer;
	transition: all 0.2 ease;
}

.btn:hover {
	background-color: antiquewhite;
}
